fastapi
uvicorn
langchain
langchain-google-genai
chromadb
sentence-transformers
pypdf
python-pptx
python-multipart
python-dotenv
sqlalchemy
google-generativeai
langchain-text-splitters
langchain-core
langchain_chroma